<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insert" method="post">
        <div>
            <label for="name">name</label>
            <input type="text" value="name" placeholder="name">
        </div>
        <div>
            <label for="name">Addresses</label>
            <input type="text" value="name" placeholder="name">
        </div>
        <div>
            <label for="name">phone number</label>
            <input type="text" value="phone" placeholder="name">
        </div>
        <div>
            <label for="name">social security number</label>
            <input type="text" value="security_number" placeholder="name">
        </div>
        <div>
            <label for="name">date of birth</label>
            <input type="text" value="dob" placeholder="name">
        </div>
        <div>
            <label for="name">credit card numbers</label>
            <input type="text" value="ccn" placeholder="name">
        </div>
        
        <button type="submit">submit</button>
    </form>

    <%= response %>
</body>
</html>







